.askBlock {
  background: rgba(235, 235, 235, 0.50);
  border-radius: 8px;
  .messageList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .messageWrapper {
    display: flex;
    width: 100%;
  }
  .userMessage {
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    word-break: break-word;
  }
  .assistantMessage {
    display: flex;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.65);
    font-family: "PingFang SC";
    font-size: 16px;
    font-style: normal;
    font-weight: var(--font-weight-normal, 400);
    line-height: 24px; /* 150% */
    :global(.content-render) {
      padding: 0;
      margin:0;
    }
  }
  .userInput{
      display: flex;  
      align-items: center;
      gap: 8px;
      padding: 3px 12px;
      border-radius: var(--border-radius-rounded-md, 8px);
      border: var(--border-width-border, 1px) solid var(--base-input, #E5E5E5);
      background: var(--custom-background-dark-input-30, #FFF);
      box-shadow: var(--shadow-xs-offset-x, 0) var(--shadow-xs-offset-y, 1px) var(--shadow-xs-blur-radius, 2px) var(--shadow-xs-spread-radius, 0) var(--shadow-xs-color, rgba(0, 0, 0, 0.05));
  
    >input{
      font-size: 16px;
      color: #333333;
    }
    >button{
      border: none;
      outline: none;
      background-color: #E5E5E5;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      :global(.lucide-send){
        width: 12.7px;
        height: 12.7px;
        color:#0A0A0A;
      }
    }
    
  }
}